page-charts {
  .lettre
  {
    background: grey;
    font-size: 25px;
    padding-left: 8px;
    font-weight: bold;
    color:white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
}
